.pirateBox{width: 33.33%;}
.pirateImg{max-width: 300px; height:auto; display: block; margin: 0 auto;}
.pirateBox .name{display: block;text-decoration: none;font-size: 35px; color:var(--red); padding-bottom: 10px;margin-bottom: 10px;position: relative; padding-top: 10px;}
    .pirateBox .name:hover{color:var(--black);}
    .pirateBox .name:before{content:''; height:2px; width: 50px; background-color:var(--black); position: absolute; bottom: 0; left: 0; right: 0; margin: 0 auto;}
    /* books */
    .attrList{display: flex;align-items: start;justify-content: center; flex-wrap: wrap; text-align: center; margin: 0; padding: 0;}
    .attrList li{list-style-type: none; padding: 0 5px;}