.singlePirate{padding-bottom: 50px; display: flex;align-items: start;justify-content: start;flex-wrap: wrap;}
.singlePirate h2{text-align: left; font-size: 50px; margin: 0;}
.singlePirate  p{text-align: left; font-family: 'Source Sans Pro', sans-serif;}
.singlePirate img{display: block;max-width: 100%;}


.vote strong{color:var(--green);}
.vote:hover{cursor: pointer; color:var(--dk_gray);}
